<app-header></app-header>
<section>
  <div class="top-insurance" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="content">
      <div class="title-content">Sản phẩm</div>
      <h1>Bảo hiểm</h1>
      <p>
        Monex kết nối các giải pháp thông minh và tối ưu nhất, góp phần bảo vệ
        và nâng cao trải nghiệm sống của bạn
      </p>
      <a href="">
        <span class="link">Các sản phẩm bảo hiểm
          <img src="assets/img/icon-right-arrow.svg" alt="next" /></span>
      </a>
    </div>

    <div class="big-icon">
      <img src="assets/img/icon-big-shield.svg" alt="Insurance" />
    </div>
  </div>
</section>
<section>
  <div class="main-content">
    <p>
      Vui lòng cho Monex biết thêm về bạn, chúng tôi sẽ gợi ý sản phẩm bảo hiểm
      phù hợp nhất
    </p>
    <form [formGroup]="infoForm" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field appearance="outline">
        <mat-label>Độ tuổi</mat-label>
        <mat-select name="age" required formControlName="age">
          <mat-option *ngFor="let ageOtion of ageOptions" [value]="ageOtion">
            {{ ageOtion }}
          </mat-option>
        </mat-select>
      </mat-form-field>

        <label #genderLabel>Giới Tính</label>
        <mat-radio-group aria-labelledby="genderLabel" formControlName="gender" [(ngModel)]="genderStartValue" required>
          <mat-radio-button class="example-radio-button" *ngFor="let genderOption of genderOptions"
            [value]="genderOption">
            {{genderOption}}
          </mat-radio-button>
        </mat-radio-group>

      <mat-form-field appearance="outline">
        <mat-label>Tính chất công việc</mat-label>
        <mat-select name="job" formControlName="job" required>
          <h3 fxLayout="row" fxLayoutAlign="center center">Tính chất công việc</h3>
          <div *ngFor="let jobOption of jobOptions">
            <mat-option [value]="jobOption">
              {{ jobOption }}
            </mat-option>
            <mat-divider></mat-divider>
          </div>
        </mat-select>
      </mat-form-field>

      <label #vehicleLabel>Phương tiện thường dùng</label>
        <mat-radio-group aria-labelledby="vehicleLabel" formControlName="vehicle" [(ngModel)]="vehicleStartValue" required>
          <mat-radio-button class="example-radio-button" *ngFor="let vehicleOption of vehicleOptions"
            [value]="vehicleOption">
            {{vehicleOption}}
          </mat-radio-button>
        </mat-radio-group>


      <button mat-button type="submit" class="ui-button" (click)="onInfoSubmit()">
        Xem sản phẩm phù hợp
      </button>
    </form>
  </div>
</section>