$black: #000000;
$rgb-black: "0,0,0" !default;
$white: #ffffff;
$rgb-white: "255,255,255" !default;
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$jungle-green: #2aac7e !default;
$athens-gray: #f2f2f7 !default;
$abbey: #48484a !default;
$manatee: #8e8e93 !default;
$white-lilac: #f7f7fc;
$athens-gray-2: #e5e5ea;
$mischka: #d1d1d6;
$french-grey: #c7c7cc;
$bombay: #aeaeb2;
$mid-grey: #636366;
$shark: #2c2c2e;
$shark-2: #1c1c1e;
$biscay: #1a2c58;
$bay-of-many: #214389;
$fun-blue: #1d61ae;
$pacific-blue: #00a0cb;
$robins-egg-blue: #00bacb;
$viking: #68cbda;
$sushi: #98c23e;
$pear: #cfdd2c;
$red-orange: #ff3b30;
$pizazz: #ff9500;
$supernova: #ffcc00;
$emerald: #34c759;
$malibu: #5ac8fa;
$azure-radiance: #007aff;
$indigo: #5856d6;
$medium-purple: #af52de;
$radical-red: #ff2d55;
$bright-turquoise: #00e4e4;
$jade: #00b273;
$arapawa: #160a73;
$black-rock: #09042f;
$alto: #d7d7d7;
$gallery: #f0f0f0;
$whisper: #f5f5f9;
$titan-white: #f5f5ff;
$minsk: #3b3380;
$lavender-purple: #837db2;
$malibu-2: #8180ff;
$titan-white-2: #f7f7ff;
$white-pointer: #fcf7ff;
$alice-blue: #f7fbff;
$alice-blue-2: #f5faff;
$hint-of-green: #f7fff9;
$bridal-heath: #fffcf7;
$lavender-blush: #fff7f9;
$rose-white: #fff8f7;
$twilight-blue: #f7fdff;
$quarter-pearl-lusta: #fffdf7;
$bridal-heath-2: #fffbf5;
