/* You can add global styles to this file, and also import other style files */
@import "variables";
html, body { height: 100%; margin:0; padding:0; box-sizing:border-box}
body { margin: 0; font-family: $sfUiDisplay, "Helvetica Neue", sans-serif; }
.ui-button mat-flat-button {
    background-color: $monex-color-00 !important;
    color:white !important;
    border-radius: 40px !important;
}
a {
    text-decoration: none;
    color: inherit;
}
